
<div class="page-header">
	<div class="alert alert-success" role="alert">
	  <strong>Congratulations!</strong> Your order was successful. Order Id : {{data.purchaseOrderId}}
	</div>
</div>


<div class="row">
	<div class="col-lg-8">
			
			<table class="table table-striped table-condensed table-bordered">
				<tbody>
				
				<tr><td>
				
					<h4>Items</h4>

				</td></tr><tr><td>
				<div class="row">
					<div class="col-lg-4">
						<a href="/browse/item/{{data.lineItems.0.itemId}}" class="thumbnail">
							<img src="{{data.lineItems.0.image.imageUrl}}">
						</a>
					</div>
					<div class="col-lg-8">
						<a href="/browse/item/{{data.lineItems.0.itemId}}">{{data.lineItems.0.title}}</a> </a>
					</div>
				</div>
	
				</td></tr><tr><td>

					<h4>Order Status</h4>

				</td></tr><tr><td>

				<p>Purchase Order Status : {{data.purchaseOrderStatus}}</p>
				<p>purchaseOrderPaymentStatus : {{data.purchaseOrderPaymentStatus}}</p>

				</td></tr>
			</tbody>
			</table>
	</div>


	<div class="col-lg-4">

		<div class="panel panel-default">
			<div class="panel-body">

				<table class="table table-hover">

					<thead>
						<tr>
							<th>Pricing</th>
						</tr>
					</thead>
					<tbody>

						<tr>
							<th>Sub total</th>
							<th>$ {{data.pricingSummary.priceSubtotal.value}}</th>
						</tr>
						<tr>
							<th>Delivery Cost</th>
							<th>$ {{data.pricingSummary.deliveryCost.value}}</th>
						</tr>
						<tr>
							<th>Tax</th>
							<th>$ {{data.pricingSummary.tax.value}}</th>
						</tr>
						<tr>
							<th>Adjustment</th>
							<th>$ {{data.pricingSummary.adjustment.value}}</th>
						</tr>
						<tr>
							<th>Total</th>
							<th>$ {{data.pricingSummary.total.value}}</th>
						</tr>

					</tbody>
				</table>
			</div>
		</div>

	</div>
	</form>

</div>
